.det{
    /* text-align: center; */
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.example-card{
    width:300px;
    background-color: palegreen;
}